<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Dziecioly.zkimnabasen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.NoweWydarzenie"
            android:label="@string/title_activity_nowe_wydarzenie" >
        </activity>
        <activity
            android:name=".activity.EdycjaWydarzenia"
            android:label="@string/title_activity_edycja_wydarzenia" >
        </activity>
        <activity
            android:name=".activity.SzczegolyWydarzenia"
            android:label="@string/title_activity_szczegoly_wydarzenia" >
        </activity>
        <activity
            android:name=".activity.MojKalendarz"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WydarzeniaLista"
            android:label="@string/title_activity_wydarzenia_lista" >
        </activity>
    </application>

</manifest>